# Top level
node_modules
**.js
**.js.map
!Client/Main.js

# Server
node_modules
Server/Repositories.Mock
Server/appSettings.json

# Client
# compiled output
Client/dist
Client/tmp
Client/out-tsc
Client/dist
Client/.npmrc

# dependencies
Client/node_modules

# misc
Client/.sass-cache
Client/connect.lock
Client/coverage

# e2e
#Client/e2e/*

# System Files
.DS_Store
