<div class="row">
    <header></header>
    <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header class="sub-header" id="search-header">
            <p class="sub-header-text">search filters</p>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <div>
                <button (click)="OnClearSearchCriteria()" class="btn">clear search</button>
                <pm-lead-form (LeadChange)="SearchCriteriaChange()" [SearchMode]="true"></pm-lead-form>
            </div>
        </mat-panel-description>
    </mat-expansion-panel>
    <div *ngIf="!Letters" style="background:rgba(0,0,0,0); padding-top:10px">
        <mat-spinner [strokeWidth]="5" style="margin:0 auto;"></mat-spinner>
        <p style="text-align:center">getting your leads...</p>
    </div>
    <ng-container *ngFor="let letter of Letters">
        <lead-letter-group [Letter]="letter" [LetterGroup]="SearchResults[letter]"></lead-letter-group>
    </ng-container>
</div>