.plus-sign {
    font-weight: bold;
    font-size: 40px;
    content: "+";
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #026670;
    line-height: 55%;
}

.sub-header {
    height: 7%;
    padding: 0.5em;
    font-size: 48px;
    height: 60px;
    width: 100%;
    background-color: #FEF9C7;
    font-size: 48px;
}

.mat-expansion-panel-header-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.sub-header-option {
    display: flex;
    align-items: center;
}