<input class="this-guy" id="toggle" type="checkbox" checked />

<!-- after menu collapses-->
<form #LeadForm="ngForm" novalidate>

    <!-- status -->
    <div>
        <div class="client-name-text-seek">
            <p class="field-label">Lead Status</p>
        </div>
        <div class="field-input">
            <div class="radio-wraper">
                <input type="checkbox" [checked]="LeadModel.Status===StatusTypes.Active" (change)="OnStatusChange($event)" />
                <span class="cr">
                    <i class="check-box-one"></i>
                </span> Is this lead currently looking?
            </div>
        </div>
    </div>
    <div class="short-green-line"></div>

    <!-- name -->
    <div>
        <div>
            <p class="field-label">Client Name</p>
        </div>
        <div class="field-input">
            <div class="container-form">
                <input [(ngModel)]="LeadModel.Name" name="Name" class="form-input" type="text" placeholder="Lead's Name" />
            </div>
        </div>
    </div>
    <div class="short-green-line" *ngIf="!SearchMode"></div>

    <!-- phone number -->
    <div *ngIf="!SearchMode">
        <div>
            <p class="field-label">Phone</p>
        </div>
        <pm-phone-form [PhoneNumber]="LeadModel.Phone"></pm-phone-form>
    </div>
    <div class="short-green-line"></div>

    <!-- move-in date -->
    <div>
        <div>
            <p class="field-label">Move in date</p>
        </div>
        <div class="field-input">
            <div class="container-form" style="display:flex">
                <mat-datepicker-toggle style="margin-left:24px" [for]="picker"></mat-datepicker-toggle>
                <input [(ngModel)]="LeadModel.MoveInDate" (ngModelChange)="LeadChange.emit(LeadModel)" class="form-input" [matDatepicker]="picker" [ngModelOptions]="{standalone: true}">
                <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
            </div>
        </div>
    </div>
    <div class="short-green-line"></div>

    <!-- budget -->
    <div>
        <div>
            <p class="field-label">Max-Budget</p>
        </div>
        <div class="field-input">
            <div class="container-form">
                <input [(ngModel)]="LeadModel.MaxBudget" class="form-input" type="text" name="MaxBudget" placeholder="Maximum Budget" />
            </div>
        </div>
    </div>
    <div class="short-green-line"></div>

    <!-- max bedrooms -->
    <div>
        <div>
            <p class="field-label">Max-Bedroom</p>
        </div>
        <div class="field-input">
            <div class="container-form">
                <input [(ngModel)]="LeadModel.MaxBedrooms" class="form-input" type="text" name="MaxBedrooms" placeholder="Maximum Bedrooms"
                />
            </div>
        </div>
    </div>
    <div class="short-green-line"></div>

    <!-- neighborhood checkboxes -->
    <div>
        <p class="field-label">Select Neighborhoods</p>
    </div>
    <div class="field-input">
        <div class="checkbox-array-container">
            <div *ngFor="let neighborhood of Neighborhoods; let i = index">
                <input type="checkbox" name="{{neighborhood}}" [value]="neighborhood" [(ngModel)]="NeighborhoodsCheckboxObject[neighborhood]"
                    [(checked)]="NeighborhoodsCheckboxObject[neighborhood]" (change)="PushNeighborhood($event)" />
                <span class="cr">
                    <i class="check-box-one"></i>
                    <label for="{{neighborhood}}"> {{neighborhood}}</label>
                </span>
                <!-- <span class="cr"><i class="check-box-one"></i></span> {{neighborhood}} -->
            </div>
        </div>
    </div>
    <div *ngIf="!SearchMode" class="short-green-line"></div>

    <div *ngIf="!SearchMode">
        <div class="short-green-line-hoods"></div>
        <p class="field-label"> Notes on lead</p>
        <div class="input-form-field-wrapper">
            <textarea class="form-input" rows="5" cols="50" name="Notes" [(ngModel)]="LeadModel.Notes" placeholder="Your notes about this lead here..."></textarea>
        </div>
    </div>
</form>