<div class="lead-form-container">
    <form #LeadForm="ngForm" novalidate>
        <!-- status -->
        <div>
            <div class="client-name-text-seek">
                <p class="field-label">Lead Status</p>
            </div>
            <div class="field-input">
                <label class="checkbox-container checkbox-array-container"> Is this lead currently looking?
                    <input id="status"
                            type="checkbox"
                            [checked]="LeadModel.Status===StatusTypes.Active"
                            (change)="OnStatusChange($event)" >
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="short-green-line" *ngIf="!SearchMode"></div>
    
        <!-- name -->
        <div *ngIf="!SearchMode">
            <div>
                <p class="field-label">Client Name</p>
            </div>
            <div class="field-input">
                <div class="container-form">
                    <input [(ngModel)]="LeadModel.Name"
                            name="Name"
                            class="form-input"
                            type="text"
                            placeholder="Lead's Name"
                            matInput />
                </div>
            </div>
        </div>
        <div class="short-green-line" *ngIf="!SearchMode"></div>
    
        <!-- phone number -->
        <div *ngIf="!SearchMode">
            <div>
                <p class="field-label">Phone</p>
            </div>
            <pm-phone-form [PhoneNumber]="LeadModel.Phone"></pm-phone-form>
        </div>
        <div class="short-green-line"></div>
    
        <!-- move-in date -->
        <div>
            <div>
                <p class="field-label">Move in date</p>
            </div>
            <div class="field-input">
                <div class="container-form" style="display:flex">
                    <mat-datepicker-toggle style="margin-left:24px" [for]="picker"></mat-datepicker-toggle>
                    <input [(ngModel)]="LeadModel.MoveInDate"
                            (ngModelChange)="LeadChange.emit(LeadModel)"
                            class="form-input"
                            [matDatepicker]="picker"
                            [ngModelOptions]="{standalone: true}" >
                    <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="short-green-line"></div>
    
        <!-- budget -->
        <div>
            <div>
                <p class="field-label">Max-Budget</p>
            </div>
            <div class="field-input">
                <div class="container-form">
                    <input [(ngModel)]="LeadModel.MaxBudget"
                            class="form-input"
                            type="number"
                            name="MaxBudget"
                            placeholder="Maximum Budget"
                            matInput />
                </div>
            </div>
        </div>
        <div class="short-green-line"></div>
    
        <!-- max bedrooms -->
        <div>
            <div>
                <p class="field-label">Max-Bedroom</p>
            </div>
            <div class="field-input">
                <div class="container-form">
                    <input [(ngModel)]="LeadModel.MaxBedrooms"
                            class="form-input"
                            type="number"
                            name="MaxBedrooms"
                            placeholder="Maximum Bedrooms" 
                            matInput />
                </div>
            </div>
        </div>
        <div class="short-green-line"></div>
    
        <!-- neighborhood checkboxes -->
        <div>
            <p class="field-label">Select Neighborhoods</p>
        </div>
        <div class="field-input">
            <div class="checkbox-array-container">
                <div *ngFor="let neighborhood of Neighborhoods; let i = index">
                    <label class="checkbox-container"> {{neighborhood}}
                        <input type="checkbox" 
                                name="{{neighborhood}}"
                                id="{{neighborhood}}"
                                [value]="neighborhood"
                                [(ngModel)]="NeighborhoodsCheckboxObject[neighborhood]"
                                [(checked)]="NeighborhoodsCheckboxObject[neighborhood]"
                                (change)="PushNeighborhood($event)" >
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="!SearchMode" class="short-green-line"></div>
    
        <div *ngIf="!SearchMode">
            <div class="short-green-line-hoods"></div>
            <p class="field-label"> Notes on lead</p>
            <div class="input-form-field-wrapper">
                <textarea class="form-input" rows="5" cols="50" name="Notes" [(ngModel)]="LeadModel.Notes" placeholder="Your notes about this lead here..."></textarea>
            </div>
        </div>
    </form>
</div>