<section id="two-button-section">
    <header></header>
    <div class="two-button-container">
        <a [routerLink]="['/leads', '0']" class="track-new-lead-click">
            <div class="menu-button">
                <div class="menu-button-text-container">
                    <p class="menu-button-text">Track New Lead</p>
                    <div class="svg-container">
                        <img src="./assets/images/notepadtrack.svg" class="svg-format">
                    </div>
                </div>
            </div>
        </a>
        <a [routerLink]="['/leads']" class="search-leads-click">
            <div class="menu-button">
                <div class="menu-button-text-container">
                    <p class="menu-button-text">Search Leads</p>
                    <div class="svg-container">
                        <img src="./assets/images//notepadsearch.svg" class="svg-format">
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>