<pm-header></pm-header>
<mat-card style="margin: 0 auto; min-width: 400px; max-width: 500px; margin-top:10%; padding:23px; box-shadow: 5px 10px 15px 12px rgba(0,0,0,0.2);">
    <div class="title">[ Leads.care ]</div>
    <div class="caption">Select a feature to get started</div>
    <a [routerLink]="['/leads', 'new']">
        <div class="image-with-caption">
            <img src="./assets/images/notepadtrack.svg" class="svg-format">
            <div class="caption inline-caption">
                Track a new lead
            </div>
        </div>
    </a>
    <a [routerLink]="['/leads']">
        <div class="image-with-caption">
            <img src="./assets/images//notepadsearch.svg" class="svg-format">
            <div class="caption inline-caption">
                Search your leads
            </div>
        </div>
    </a>
</mat-card>