.save-changes-button-container {
    margin-top: 10px;
    margin-left: 2%;
}

.sub-header {
    height: 7%;
    text-align: center;
    padding: 0.5em;
    font-size: 48px;
    height: 60px;
    width: 100%;
    background-color: #FEF9C7;
    font-size: 48px;
}

.lead-detail-page {
    background: #fff;
    padding-bottom: 30px;
}