// /* Landing Page */
.top-bar-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background-color: #026670;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 24px;
}

.top-bar-item-left { 
    margin-right: auto;
    margin-left: 2%;
}

.top-bar-item-right { 
    margin-left: auto;
    margin-right: 2%;
}

.top-bar-font {
    color: white;
    text-decoration: none;
    vertical-align: middle;
    line-height: 50px;
    margin-right: 20px;
}