.form-input-phone-3-digits {
    width: 28px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 14px;
    color: black;
    padding-right: 0;
}

.form-input-phone-4-digits {
    width: 40px;
    height: 47px;
    border: none;
    outline: none;
    font-size: 14px;
    color: black;
    padding-right: 0;
}