<mat-expansion-panel [hideToggle]="true" [ngClass]="{'orange-block-container': Lead.Status==1}">
    <mat-expansion-panel-header [collapsedHeight]="'50px'">
        <div class="expansion-panel-header">
            <div style="width:33%"><p class="lead-name">{{Lead.Name}}</p></div>
            <button [routerLink]="['/leads', Lead.LeadId]" mat-button><i class="material-icons">create</i> edit</button>
            <div></div>
        </div>
    </mat-expansion-panel-header>
    <mat-panel-description>
        <div class="collapsed-detail">
            <!-- <div><p class="field-header">Phone</p> {{Lead.Phone.FormattedNumber}}</div> -->
            <div><p class="field-header">Phone</p><a href="tel:+1-{{Lead.Phone.FormattedNumber}}"> {{Lead.Phone.FormattedNumber}}</a></div>
            <div><b class="field-header">Email</b> {{Lead.Email}}</div>
            <div><b class="field-header">Notes</b> {{Lead.Notes}}</div>
        </div>

    </mat-panel-description>
</mat-expansion-panel>
<div class="underline"></div>